<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
        <%= msg %>
    <% end %>
<% end %>

<%= form_with(model: @user, local: true) do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>