<h1>Edit User</h1>

<%= form_with(model: @user, local: true) do |f| %>
    <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </p>

    <p>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </p>

    <p>
        <%= f.submit %>
    </p>

<% end %>

<%= link_to 'All users', users_path %>
