<h1>Users</h1>
<%= @id %>
<%= @user.name %>
<br>
<%= @user.email %>
<hr>
<%= link_to 'All users', users_path %>
<br>
<%= link_to 'Edit', edit_user_path %>
<br>
<%= link_to 'Delete', user_path, method: :delete, data: {confirm: "Are you sure?"} %>