<h1>Users</h1>
<%= @id %>
<%= @user.name %>
<br>
<%= @user.email %>
<hr>
<%= image_tag "https://robohash.org/#{@user.name}", alt: @user.name %>
<h3>Your articles</h3>
<% if @articles.empty? %>
  <p>There are no articles available for this user.</p>
<% else %>
    <ul>
        <% @articles.each do |article| %>
            <li> <%= link_to article.title, article_path(article) %> </li>
        <% end %>
    </ul>
<% end %>
<hr>
<%= link_to 'All users', users_path %>
<br>
<%= link_to 'Edit', edit_user_path %>
<br>
<%= link_to 'Delete', user_path, method: :delete, data: {confirm: "Are you sure?"} %>